<div class="col-lg-10 col-lg-offset-1 box">

  <% if @now_time < @start_time %>
      <div style="direction: rtl"%>
مسابقه دوشنبه از ساعت
        <%=@start_time.strftime("%H:%M") %>
تا ساعت
        <%=@end_time.strftime("%H:%M") %>
برگزار می‌شود.

        <br>
سایت در حال تست است، از همکاری شما سپاسگزارم.
</div>
  <% elsif @now_time > @end_time %>
      EE
  <% else %>
      RR
  <% end %>
</div>
